<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515116318903-999eh1p2emqq6841lpj8kfnkhvi8ilem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515116318903-999eh1p2emqq6841lpj8kfnkhvi8ilem</string>
	<key>API_KEY</key>
	<string>AIzaSyDxTmshSUnhrp-cEkZmnr3X9GaBDkwn-B0</string>
	<key>GCM_SENDER_ID</key>
	<string>515116318903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>fakey-waky</string>
	<key>STORAGE_BUCKET</key>
	<string>fakey-waky.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515116318903:ios:e7e1f87620efcb25668d32</string>
</dict>
</plist>